

/* includes alternating gray and white with on-hover color */

.mystyle td{
    font-size: 10pt; 
    font-family: Helvetica;
    border-collapse: collapse; 
    border: 1px solid silver;

}

.mystyle td, th {
    padding: 5px;
    padding-top: 20px
    padding-bottom:20px
}



.mystyle tbody tr:nth-child(odd) td {
    background-color: #E0FFFF;
}

.mystyle tr:nth-child(even) td {
    background-color: #E0FFFF;
}

.mystyle thead tr:first-child th {
  background-color: #00FFFF;
  font-size: 10pt;
  font-family: Georgia;
}


.mystyle tr:hover {
    background: silver;
    cursor: pointer;
}


.mystyle td, th{
    border:none;
}